*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.4px;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Semibold";
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans ExtraBold";
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.header {
  max-width: 1360px;
  display: flex;
  margin: 20px auto;
  align-items: center;
  position: relative;
}
.header__nav {
  margin-left: auto;
}
.header__nav-list {
  display: flex;
  list-style-type: none;
}
.header__nav-item {
  margin-right: 60px;
}
.header__nav-link {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #222222;
  text-decoration: none;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 3px solid transparent;
  transition: border 0.2s;
}
.header__nav-link:hover, .header__nav-link_active {
  border-bottom: 3px solid #E94646;
}
.header__btn {
  background-color: #E94646;
  border: 2px solid #E94646;
  width: 44px;
  height: 44px;
  transition: background-color 0.2s;
}
.header__btn:hover {
  cursor: pointer;
  background-color: #FF5050;
}
.header__btn span {
  display: block;
  width: 20px;
  height: 1.72px;
  background: #ffffff;
  margin: 5px auto;
  transition: all 0.3s;
}
.header__btn-toggle .header__btn-line-1 {
  transform: rotate(-45deg) translate(-5px, 4px);
}
.header__btn-toggle .header__btn-line-2 {
  opacity: 0;
}
.header__btn-toggle .header__btn-line-3 {
  transform: rotate(45deg) translate(-6px, -4px);
}

.review {
  max-width: 1360px;
  margin: auto;
  display: flex;
}
.review-inner {
  width: 100%;
  border: 10px solid #F2F2F2;
  padding: 30px 40px 0;
}
.review__title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #222222;
  margin-bottom: 30px;
}
.review__p {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #666666;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.review__p-cost {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #E94646;
  margin-bottom: 25px;
}
.review__p-cost-span {
  font-size: 28px;
}
.review__p-img {
  margin-right: 10px;
}
.review__span {
  font-family: "Open Sans Bold";
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  color: #444444;
  padding-left: 10px;
  padding-right: 10px;
}
.review__span_red {
  padding-left: 10px;
  text-decoration-line: underline;
  color: #E94646;
  font-weight: bold;
}
.review__flat {
  display: flex;
  margin-bottom: 25px;
}
.review__flat-btn {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #444444;
  padding: 15px 8px;
  outline: 1px solid #DEDEDE;
  border: none;
  transition: outline-color 0.2s, color 0.2s, background-color 0.2s;
  background: none;
  margin-right: 8px;
}
.review__flat-btn_active {
  outline: 2px solid #E94646;
  color: #E94646;
}
.review__flat-btn:hover {
  background: #F2F2F2;
  cursor: pointer;
}
.review__company {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.review__company-link {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #222222;
  text-decoration: none;
}
.review__btn {
  width: 100%;
  background-color: #E94646;
  border-radius: 30px;
  border: none;
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: background-color 0.3s;
}
.review__btn:hover {
  cursor: pointer;
  background-color: #FF5050;
}
.review__btn-img {
  margin-right: 10px;
}

.slider {
  display: flex;
}
.slider-h {
  position: relative;
  margin-right: 15px;
}
.slider-h__item {
  margin-top: 15px;
  position: relative;
  z-index: 0;
  height: 76px;
}
.slider-h__item-img {
  outline: 3px solid transparent;
  transition: outline 0.3s;
}
.slider-h__item-img:hover {
  outline: 3px solid #E94646;
  cursor: pointer;
}
.slider-h button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}
.slider-h__btn-next {
  background: url("../img/next-h.svg") no-repeat center;
  left: 36px;
  bottom: 0;
  background-size: 280%;
}
.slider-h__btn-prev {
  background: url("../img/prev-h.svg") no-repeat center;
  left: 36px;
  top: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-size: 280%;
}
.slider-h__btn-play {
  background: url("../img/play-h.svg") no-repeat center;
  background-size: 100%;
  position: absolute;
  left: 36px;
  top: 23px;
  pointer-events: none;
}
.slider-w {
  background: url("../img/w1.png") no-repeat;
  width: 781px;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}
.slider-w button {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-size: 280%;
  border: none;
}
.slider-w button:hover {
  cursor: pointer;
}
.slider-w__btn-prev {
  margin-left: 20px;
  background: url("../img/prev-w.svg") no-repeat center;
}
.slider-w__btn-next {
  margin-right: 20px;
  background: url("../img/next-w.svg") no-repeat center;
}

.plans {
  max-width: 1360px;
  margin: 54px auto auto;
}
.plans__title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  margin-bottom: 61px;
}
.plans-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.plans__item {
  width: 665px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #E3E3E3;
  height: 60px;
  position: relative;
  transition: all 0.3s;
}
.plans__item::after {
  content: url("../img/arrow-gray.svg");
  position: absolute;
  right: 22px;
  top: 21px;
  width: 10px;
  height: 10px;
}
.plans__item:hover, .plans__item_active {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.plans__item:hover .plans__item-p_red, .plans__item_active .plans__item-p_red {
  background-color: #E94646;
  color: #ffffff;
}
.plans__item:hover::after {
  content: url("../img/arrow-red.svg");
}
.plans__item_active::after {
  content: url("../img/arrow-red.svg");
}
.plans__item-p {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #444444;
  padding-left: 20px;
}
.plans__item-p_red {
  margin-right: 90px;
  margin-left: auto;
  border: 1px solid #E94646;
  border-radius: 30px;
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #E94646;
  width: 146px;
  text-align: center;
  padding: 10px 0;
  background-color: #ffffff;
  transition: color 0.3s, background-color 0.3s;
}
.plans__item-span {
  font-family: "Open Sans Bold";
  font-weight: bold;
  color: #222222;
}

.rating {
  max-width: 1360px;
  margin: 54px auto auto;
}
.rating__title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  margin-bottom: 30px;
}
.rating__subtitle {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #444444;
}
.rating__table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}
.rating__table-item {
  width: 202px;
  height: 220px;
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rating__table-img {
  margin-bottom: 30px;
}
.rating__table-name {
  font-family: "Open Sans Bold";
  margin-bottom: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #444444;
}
.rating__table-mark {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #444444;
  display: flex;
  align-items: center;
}
.rating__table-mark-num {
  font-family: "Open Sans ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  margin-left: 10px;
}
.rating__table-mark-num_red {
  border: 3px solid #E94646;
  color: #E94646;
}
.rating__table-mark-num_orange {
  border: 3px solid #F38445;
  color: #F38445;
}
.rating__table-mark-num_yellow {
  border: 3px solid #F3BA25;
  color: #F3BA25;
}
.rating__table-mark-num_green {
  border: 3px solid #69CA60;
  color: #69CA60;
}
.rating__middle-cost {
  text-align: center;
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #444444;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 31px;
  padding-right: 31px;
  background-color: #ffffff;
}
.rating__middle-cost:after {
  content: "";
  width: 100%;
  left: 50%;
  top: 28px;
  transform: translateX(-50%);
  z-index: -1;
  height: 1px;
  background: #E3E3E3;
  position: absolute;
}
.rating__middle-cost-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 60px;
  justify-content: center;
  position: relative;
}
.rating__middle-cost-num {
  font-family: "Open Sans ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  color: #F3BA25;
  border: 3px solid #F3BA25;
  margin-left: 10px;
}

.benefits {
  max-width: 1360px;
  margin: 54px auto auto;
}
.benefits__title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  margin-bottom: 30px;
}
.benefits__inner {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.benefits__article {
  width: 665px;
}
.benefits__article-title {
  font-family: "Open Sans Bold";
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.benefits__article-title::before {
  content: url("../img/b-m.svg");
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.benefits__article-title_img::before {
  content: url("../img/b-p.svg");
}
.benefits__article-list {
  list-style-type: none;
}
.benefits__article-list :last-child {
  border: none;
}
.benefits__article-item {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E3E3E3;
  position: relative;
  padding-left: 15px;
}
.benefits__article-item::before {
  content: url("../img/b-li-red.svg");
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
}
.benefits__article-item_green::before {
  content: url("../img/b-li-green.svg");
}
.benefits__final {
  margin-top: 90px;
}
.benefits__final-title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #222222;
  margin-bottom: 20px;
}
.benefits__final-p {
  font-family: "Open Sans Regular";
  font-size: 14px;
  color: #444444;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 15px;
  width: 90%;
}
.benefits__final-p::before {
  content: "";
  width: 4px;
  height: 100%;
  position: absolute;
  background: #E94646;
  left: 0;
}

.desc {
  max-width: 1360px;
  margin: 54px auto auto;
}
.desc__title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  margin-bottom: 60px;
}
.desc__inner {
  display: flex;
  justify-content: space-between;
}
.desc__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}
.desc__content-name {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin-top: 30px;
  color: #444444;
}
.desc__content-post {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #666666;
  margin-top: 20px;
}
.desc__content-btn {
  font-family: "Open Sans Semibold";
  width: 320px;
  background-color: #E94646;
  border-radius: 30px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: background-color 0.3s;
  margin-top: 30px;
  margin-bottom: 10px;
}
.desc__content-btn:hover {
  cursor: pointer;
  background-color: #FF5050;
}
.desc__content-btn-img {
  margin-right: 10px;
}
.desc__content-video {
  margin-top: 20px;
  position: relative;
  width: 318px;
  height: 180px;
  transition: outline-color 0.3s;
  outline: 2px solid transparent;
}
.desc__content-video::before {
  content: url("../img/play-h.svg");
  position: absolute;
  left: 144px;
  top: 70px;
  pointer-events: none;
}
.desc__content-video:hover {
  cursor: pointer;
  outline: 2px solid #E94646;
}
.desc__content-link {
  font-family: "Open Sans Bold";
  margin-right: auto;
  font-weight: bold;
  font-size: 13px;
  color: #E94646;
  text-decoration: none;
  margin-top: 20px;
  transition: border 0.3s;
}
.desc__content-link:hover {
  border-bottom: 1px solid #E94646;
}
.desc__text-title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #222222;
  margin-bottom: 20px;
}
.desc__text-p {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #444444;
  margin-bottom: 30px;
}
.desc__text-btn {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #E94646;
  border: 1px solid #E94646;
  border-radius: 30px;
  width: 201px;
  height: 36px;
  transition: color 0.3s, background-color 0.3s;
}
.desc__text-btn:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #E94646;
}

/*# sourceMappingURL=style.css.map */
