*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Semibold";
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans ExtraBold";
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.header {
  max-width: 1360px;
  display: flex;
  margin: 20px auto;
  align-items: center;
  position: relative;
}
.header__nav {
  margin-left: auto;
}
.header__nav-list {
  display: flex;
  list-style-type: none;
}
.header__nav-item {
  margin-right: 60px;
}
.header__nav-link {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #222222;
  text-decoration: none;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 3px solid transparent;
  transition: border 0.2s;
}
.header__nav-link:hover, .header__nav-link_active {
  border-bottom: 3px solid #E94646;
}
.header__btn {
  background-color: #E94646;
  border: 2px solid #E94646;
  width: 44px;
  height: 44px;
  transition: background-color 0.2s, border 0.2s;
}
.header__btn:hover {
  cursor: pointer;
  background-color: #FF5050;
}
.header__btn span {
  display: block;
  width: 20px;
  height: 1.72px;
  background-color: #ffffff;
  margin: 5px auto;
  transition: all 0.3s;
}
.header__btn:hover span {
  background-color: #ffffff;
}
.header__btn-toggle {
  background-color: #F2F2F2;
  border-color: transparent;
}
.header__btn-toggle span {
  background-color: #999999;
}
.header__btn-toggle .header__btn-line-1 {
  transform: rotate(-45deg) translate(-5px, 4px);
}
.header__btn-toggle .header__btn-line-2 {
  opacity: 0;
}
.header__btn-toggle .header__btn-line-3 {
  transform: rotate(45deg) translate(-6px, -4px);
}

.review {
  max-width: 1360px;
  margin: auto;
  display: flex;
}
.review-inner {
  width: 100%;
  border: 10px solid #F2F2F2;
  padding: 30px 40px 0;
}
.review__title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #222222;
  margin-bottom: 30px;
}
.review__p {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #666666;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.review__p-cost {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #E94646;
  margin-bottom: 25px;
}
.review__p-cost-span {
  font-size: 28px;
}
.review__p-img {
  margin-right: 10px;
}
.review__span {
  font-family: "Open Sans Bold";
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  color: #444444;
  padding-left: 10px;
  padding-right: 10px;
}
.review__span_red {
  padding-left: 10px;
  text-decoration-line: underline;
  color: #E94646;
  font-weight: bold;
}
.review__span_red:hover {
  text-decoration: none;
}
.review__flat {
  display: flex;
  margin-bottom: 25px;
}
.review__flat-btn {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #444444;
  padding: 15px 8px;
  outline: 1px solid #DEDEDE;
  border: none;
  transition: outline-color 0.2s, color 0.2s, background-color 0.2s;
  background: none;
  margin-right: 8px;
}
.review__flat-btn_active {
  outline: 2px solid #E94646;
  color: #E94646;
}
.review__flat-btn:hover {
  background: #F2F2F2;
  cursor: pointer;
}
.review__company {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.review__company-link {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #222222;
  text-decoration: none;
}
.review__btn {
  width: 100%;
  background-color: #E94646;
  border-radius: 30px;
  border: none;
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: background-color 0.3s;
}
.review__btn:hover {
  cursor: pointer;
  background-color: #FF5050;
}
.review__btn-img {
  margin-right: 10px;
}

.slider {
  display: flex;
}
.slider-h {
  position: relative;
  margin-right: 15px;
  height: 560px;
  overflow-y: hidden;
}
.slider-h__list {
  position: relative;
  top: 0;
  transition: all ease 0.4s;
}
.slider-h__item {
  margin-top: 15px;
  position: relative;
  z-index: 0;
  height: 76px;
  width: 110px;
  text-align: center;
}
.slider-h__item_vid::after {
  content: url("../img/play-h.svg");
  position: absolute;
  left: 40px;
  top: 23px;
  width: 30px;
  height: 30px;
  pointer-events: none;
}
.slider-h__item_vid:hover::after {
  content: url("../img/red-play.svg");
}
.slider-h__item-img {
  outline: 3px solid transparent;
  transition: outline 0.3s;
}
.slider-h__item-img:hover {
  outline: 3px solid #E94646;
  cursor: pointer;
}
.slider-h button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}
.slider-h__btn-next {
  background: url("../img/next-h.svg") no-repeat center;
  left: 40px;
  bottom: 0;
  background-size: 280%;
}
.slider-h__btn-next:hover {
  background: url("../img/red-arrow-btn.svg") no-repeat center;
  transform: rotate(-90deg);
}
.slider-h__btn-prev {
  background: url("../img/prev-h.svg") no-repeat center;
  left: 40px;
  top: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-size: 280%;
}
.slider-h__btn-prev:hover {
  background: url("../img/red-arrow-btn.svg") no-repeat center;
  transform: rotate(90deg);
}
.slider-w {
  background: url("../img/w1.png") no-repeat;
  width: 781px;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
  background-size: cover;
  position: relative;
}
.slider-w button {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-size: 280%;
  border: none;
}
.slider-w button:hover {
  cursor: pointer;
}
.slider-w-video {
  position: absolute;
  left: 0;
  top: 0;
  height: 560px;
  width: 781px;
  display: none;
}
.slider-w-video_on {
  display: block;
}
.slider-w__btn-prev {
  margin-left: 20px;
  background: url("../img/prev-w.svg") no-repeat center;
}
.slider-w__btn-prev:hover {
  background: url("../img/b-red-arrow-btn.svg") no-repeat center;
}
.slider-w__btn-next {
  margin-right: 20px;
  background: url("../img/next-w.svg") no-repeat center;
}
.slider-w__btn-next:hover {
  background: url("../img/b-red-arrow-btn.svg") no-repeat center;
  transform: rotate(180deg);
}

.plans {
  max-width: 1360px;
  margin: 54px auto auto;
}
.plans__title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  margin-bottom: 61px;
}
.plans-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.plans__item {
  width: 665px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #E3E3E3;
  height: 60px;
  position: relative;
  transition: all 0.3s;
}
.plans__item::after {
  content: url("../img/arrow-gray.svg");
  position: absolute;
  right: 22px;
  top: 21px;
  width: 10px;
  height: 10px;
}
.plans__item:hover, .plans__item_active {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.plans__item:hover .plans__item-p_red, .plans__item_active .plans__item-p_red {
  background-color: #E94646;
  color: #ffffff;
}
.plans__item:hover::after {
  content: url("../img/arrow-red.svg");
}
.plans__item_active::after {
  content: url("../img/arrow-red.svg");
}
.plans__item-p {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #444444;
  padding-left: 20px;
}
.plans__item-p_red {
  margin-right: 90px;
  margin-left: auto;
  border: 1px solid #E94646;
  border-radius: 30px;
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #E94646;
  width: 146px;
  text-align: center;
  padding: 10px 0;
  background-color: #ffffff;
  transition: color 0.3s, background-color 0.3s;
}
.plans__item-span {
  font-family: "Open Sans Bold";
  font-weight: bold;
  color: #222222;
}

.rating {
  max-width: 1360px;
  margin: 54px auto auto;
}
.rating__title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  margin-bottom: 30px;
}
.rating__subtitle {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #444444;
}
.rating__table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}
.rating__table-item {
  width: 202px;
  height: 220px;
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rating__table-img {
  margin-bottom: 30px;
}
.rating__table-name {
  font-family: "Open Sans Bold";
  margin-bottom: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #444444;
}
.rating__table-mark {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #444444;
  display: flex;
  align-items: center;
}
.rating__table-mark-num {
  font-family: "Open Sans ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  margin-left: 10px;
}
.rating__table-mark-num_red {
  border: 3px solid #E94646;
  color: #E94646;
}
.rating__table-mark-num_orange {
  border: 3px solid #F38445;
  color: #F38445;
}
.rating__table-mark-num_yellow {
  border: 3px solid #F3BA25;
  color: #F3BA25;
}
.rating__table-mark-num_green {
  border: 3px solid #69CA60;
  color: #69CA60;
}
.rating__middle-cost {
  text-align: center;
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #444444;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 31px;
  padding-right: 31px;
  background-color: #ffffff;
}
.rating__middle-cost:after {
  content: "";
  width: 100%;
  left: 50%;
  top: 28px;
  transform: translateX(-50%);
  z-index: -1;
  height: 1px;
  background: #E3E3E3;
  position: absolute;
}
.rating__middle-cost-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 60px;
  justify-content: center;
  position: relative;
}
.rating__middle-cost-num {
  font-family: "Open Sans ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  color: #F3BA25;
  border: 3px solid #F3BA25;
  margin-left: 10px;
}

.benefits {
  max-width: 1360px;
  margin: 54px auto auto;
}
.benefits__title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  margin-bottom: 30px;
}
.benefits__inner {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.benefits__article {
  width: 665px;
}
.benefits__article-title {
  font-family: "Open Sans Bold";
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.benefits__article-title::before {
  content: url("../img/b-m.svg");
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.benefits__article-title_img::before {
  content: url("../img/b-p.svg");
}
.benefits__article-list {
  list-style-type: none;
}
.benefits__article-list :last-child {
  border: none;
}
.benefits__article-item {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E3E3E3;
  position: relative;
  padding-left: 15px;
}
.benefits__article-item::before {
  content: url("../img/b-li-red.svg");
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
}
.benefits__article-item_green::before {
  content: url("../img/b-li-green.svg");
}
.benefits__final {
  margin-top: 90px;
}
.benefits__final-title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #222222;
  margin-bottom: 20px;
}
.benefits__final-p {
  font-family: "Open Sans Regular";
  font-size: 14px;
  color: #444444;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 15px;
  width: 90%;
}
.benefits__final-p::before {
  content: "";
  width: 4px;
  height: 100%;
  position: absolute;
  background: #E94646;
  left: 0;
}

.desc {
  max-width: 1360px;
  margin: 54px auto auto;
}
.desc__title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  margin-bottom: 60px;
}
.desc__inner {
  display: flex;
  justify-content: space-between;
}
.desc__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}
.desc__content-name {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin-top: 30px;
  color: #444444;
}
.desc__content-post {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #666666;
  margin-top: 20px;
}
.desc__content-btn {
  font-family: "Open Sans Semibold";
  width: 320px;
  background-color: #E94646;
  border-radius: 30px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: background-color 0.3s;
  margin-top: 30px;
  margin-bottom: 10px;
}
.desc__content-btn:hover {
  cursor: pointer;
  background-color: #FF5050;
}
.desc__content-btn-img {
  margin-right: 10px;
}
.desc__content-video {
  margin-top: 20px;
  position: relative;
  width: 318px;
  height: 180px;
  transition: outline-color 0.3s;
  outline: 2px solid transparent;
}
.desc__content-video::before {
  content: url("../img/white-play-b.svg");
  position: absolute;
  left: 139px;
  top: 70px;
  pointer-events: none;
}
.desc__content-video:hover {
  cursor: pointer;
  outline: 2px solid #E94646;
}
.desc__content-video:hover::before {
  content: url("../img/red-play-b.svg");
}
.desc__content-link {
  font-family: "Open Sans Bold";
  margin-right: auto;
  font-weight: bold;
  font-size: 13px;
  color: #E94646;
  text-decoration: none;
  margin-top: 20px;
  transition: border 0.3s;
}
.desc__content-link:hover {
  border-bottom: 1px solid #E94646;
}
.desc__text-title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #222222;
  margin-bottom: 20px;
}
.desc__text-p {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #444444;
  margin-bottom: 30px;
}
.desc__text-btn {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #E94646;
  border: 1px solid #E94646;
  border-radius: 30px;
  width: 201px;
  height: 36px;
  transition: color 0.3s, background-color 0.3s;
  background-color: #ffffff;
}
.desc__text-btn:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #E94646;
}

.feature {
  max-width: 1360px;
  margin: 54px auto auto;
}
.feature__title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  margin-bottom: 20px;
}
.feature__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.feature__item {
  width: 665px;
  margin-top: 40px;
}
.feature__item-title {
  font-family: "Open Sans Bold";
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.feature__item-title::before {
  content: url("../img/f-house.svg");
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.feature__item-title_flats::before {
  content: url("../img/f-flats.svg");
}
.feature__item-title_tree::before {
  content: url("../img/f-tree.svg");
}
.feature__item-title_parking::before {
  content: url("../img/f-parking.svg");
}
.feature__item-title_infr::before {
  content: url("../img/f-infr.svg");
}
.feature__item-title_sec::before {
  content: url("../img/f-sec.svg");
}
.feature__item-list {
  list-style-type: none;
  border-bottom: 1px solid #E3E3E3;
}
.feature__item-list-item {
  border: 1px solid #E3E3E3;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  padding: 20px 17px;
  transition: all 0.3s;
}
.feature__item-list-item:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}
.feature__item-list-p {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #222222;
}
.feature__item-list-p_gray {
  color: #666666;
}

.docs {
  max-width: 1360px;
  margin: 54px auto auto;
}
.docs__title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  margin-bottom: 44px;
}
.docs__inner {
  display: flex;
  justify-content: space-between;
}
.docs__file {
  padding-left: 30px;
  border: 1px solid #E3E3E3;
  display: flex;
  align-items: center;
  height: 96px;
  transition: all 0.3s;
  text-decoration: none;
}
.docs__file:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}
.docs__file:hover .docs__file-link {
  background-color: #E94646;
  color: #ffffff;
}
.docs__file:hover .docs__file-link:before {
  content: url("../img/download-w.svg");
}
.docs__file-p {
  font-family: "Open Sans Semibold";
  padding-left: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #444444;
  width: 226px;
}
.docs__file-link {
  font-family: "Open Sans bold";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 160%;
  color: #999999;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 35px;
  width: 96px;
  height: 96px;
  position: relative;
  transition: background-color 0.3s, color 0.3s;
}
.docs__file-link::before {
  content: url("../img/download-gr.svg");
  padding-bottom: 7px;
}
.docs__file-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #E3E3E3;
  width: 1px;
  height: 100%;
}
.docs__btn-more {
  font-family: "Open Sans bold";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  display: block;
  color: #E94646;
  border: none;
  transition: border 0.3s;
  border-bottom: 1px solid transparent;
  margin: 40px auto auto;
  background-color: #ffffff;
}
.docs__btn-more:hover {
  border-bottom: 1px solid #E94646;
  cursor: pointer;
}
.docs__btn-call {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #E94646;
  width: 353px;
  height: 60px;
  border: 1px solid #E94646;
  border-radius: 30px;
  margin: 40px auto auto;
  transition: color 0.3s, background-color 0.3s;
  background-color: #ffffff;
}
.docs__btn-call:hover {
  color: #ffffff;
  background-color: #E94646;
  cursor: pointer;
}

.credit {
  max-width: 1360px;
  margin: 60px auto auto;
}
.credit__cl {
  border: 10px solid #F2F2F2;
  padding: 30px;
}
.credit__cl-title {
  font-family: "Open Sans bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  margin-bottom: 30px;
}
.credit__cl-subtitle {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #444444;
  padding-right: 44px;
}
.credit__cl-subtitle :last-child {
  font-family: "Open Sans bold";
}
.credit__cl-form {
  display: flex;
  justify-content: space-between;
}
.credit__cl-form-label {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 278px;
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #222222;
}
.credit__cl-form-input {
  margin-top: 20px;
  background: #F2F2F2;
  border: 1px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 30px;
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #999999;
  width: 278px;
  height: 60px;
  padding-right: 30px;
}
.credit__cl-form-input::-webkit-outer-spin-button, .credit__cl-form-input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
.credit__cl-form-input:focus {
  text-align: left;
  padding-left: 30px;
}
.credit__cl-form-inner {
  width: 307px;
  margin-right: 45px;
}
.credit__cl-form-cost {
  font-family: "Open Sans bold";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #E94646;
  margin-top: 24px;
}
.credit__cl-form-cost-span {
  font-size: 28px;
}
.credit__cl-form-btn {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background-color: #E94646;
  border-radius: 30px;
  border: 1px solid #E94646;
  width: 356px;
  height: 60px;
  transition: background-color 0.3s;
  margin-top: 36px;
}
.credit__cl-form-btn:hover {
  background-color: #FF5050;
  cursor: pointer;
}
.credit__inner {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.credit__item {
  width: 318px;
  border: 1px solid #E3E3E3;
}
.credit__item-img {
  padding-top: 29px;
  padding-left: 19px;
  padding-bottom: 22px;
}
.credit__item-img_ural {
  padding-top: 25px;
  padding-left: 19px;
  padding-bottom: 16px;
}
.credit__item-img_ross {
  padding-top: 19px;
  padding-left: 19px;
  padding-bottom: 12px;
}
.credit__item-img_saint {
  padding-top: 23px;
  padding-left: 19px;
  padding-bottom: 14px;
}
.credit__item-p {
  border-top: 1px solid #E3E3E3;
  padding: 16px 19px;
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.credit__item-p :last-child {
  color: #666666;
}
.credit__btn {
  font-family: "Open Sans bold";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  color: #E94646;
  border: none;
  display: block;
  margin: 40px auto auto;
  border-bottom: 1px solid transparent;
  transition: border 0.3s;
  background-color: #FFFFFF;
}
.credit__btn:hover {
  border-bottom: 1px solid #E94646;
  cursor: pointer;
}

.map__title {
  max-width: 1360px;
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  margin: 60px auto;
}
.map__content-img {
  object-fit: contain;
  width: 100vw;
}

.chart {
  max-width: 1360px;
  margin: 60px auto auto;
}
.chart__title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  margin-bottom: 30px;
}
.chart__flat {
  display: flex;
  margin-bottom: 25px;
}
.chart__flat-btn {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #444444;
  padding: 15px 18px;
  outline: 1px solid #DEDEDE;
  border: none;
  transition: outline-color 0.2s, color 0.2s, background-color 0.2s;
  background: none;
  margin-right: 8px;
}
.chart__flat-btn_active {
  outline: 2px solid #E94646;
  color: #E94646;
}
.chart__flat-btn:hover {
  background: #F2F2F2;
  cursor: pointer;
}
.chart__inner {
  display: flex;
  justify-content: space-between;
}
.chart__desc-img {
  margin-bottom: 30px;
}
.chart__desc-title {
  font-family: "Open Sans bold";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #222222;
  margin-bottom: 30px;
}
.chart__desc-p {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #444444;
  margin-bottom: 30px;
  width: 530px;
}
.chart__desc-btn {
  width: 353px;
  height: 60px;
  background-color: #FFFFFF;
  border: 1px solid #E94646;
  border-radius: 30px;
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E94646;
  transition: all 0.3s;
}
.chart__desc-btn::before {
  content: url("../img/chart-q.svg");
  margin-right: 10px;
  margin-top: 5px;
  transition: all 0.3s;
}
.chart__desc-btn:hover {
  background-color: #E94646;
  color: #ffffff;
  cursor: pointer;
}
.chart__desc-btn:hover::before {
  content: url("../img/chart-q-w.svg");
}

.build {
  max-width: 1360px;
  margin: 60px auto auto;
}
.build__title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  margin-bottom: 30px;
}
.build__form {
  display: flex;
}
.build__form label {
  position: relative;
}
.build__form label::after {
  content: url("../img/arrow-gray.svg");
  position: absolute;
  right: 40px;
  top: 13px;
  pointer-events: none;
}
.build__form-select {
  margin-right: 20px;
  width: 160px;
  height: 40px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #DEDEDE;
  background-color: #FFFFFF;
  border-radius: 0;
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #444444;
  position: relative;
}
.build__form-select:hover {
  cursor: pointer;
}
.build__box {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.build__box-img {
  width: 317px;
}
.build__btn-more {
  font-family: "Open Sans bold";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  display: block;
  color: #E94646;
  border: none;
  transition: border 0.3s;
  border-bottom: 1px solid transparent;
  margin: 40px auto auto;
  background-color: #ffffff;
}
.build__btn-more:hover {
  border-bottom: 1px solid #E94646;
  cursor: pointer;
}

.feedback {
  max-width: 1360px;
  margin: 60px auto auto;
}
.feedback__title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  margin-bottom: 60px;
}
.feedback__btn {
  width: 205px;
  height: 44px;
  font-family: "Open Sans bold";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  color: #E94646;
  border: 1px solid #E94646;
  border-radius: 30px 0 0 30px;
  transition: background-color 0.3s, color 0.3s;
}
.feedback__btn_active, .feedback__btn:hover {
  color: #FFFFFF;
  background-color: #E94646;
  cursor: pointer;
}
.feedback__btn-wrap {
  text-align: center;
  margin: 60px auto auto;
  display: flex;
  justify-content: center;
}
.feedback__btn-wrap :last-child {
  border-radius: 0 30px 30px 0;
}
.feedback__box {
  margin-top: 60px;
}
.feedback__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.feedback__item-inner {
  margin-left: 20px;
}
.feedback__item-name {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #222222;
  margin-bottom: 16px;
  height: 12px;
}
.feedback__item-date {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #999999;
  margin-bottom: 20px;
  height: 10px;
}
.feedback__item-desc {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #333333;
  height: 10px;
}
.feedback__btn-more {
  font-family: "Open Sans bold";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  display: block;
  color: #E94646;
  border: none;
  transition: border 0.3s;
  border-bottom: 1px solid transparent;
  margin: 40px auto auto;
  background-color: #ffffff;
}
.feedback__btn-more:hover {
  border-bottom: 1px solid #E94646;
  cursor: pointer;
}
.feedback__btn-call {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #E94646;
  width: 353px;
  height: 60px;
  border: 1px solid #E94646;
  border-radius: 30px;
  margin: 40px auto auto;
  transition: color 0.3s, background-color 0.3s;
  background-color: #ffffff;
}
.feedback__btn-call::before {
  content: url("../img/pen.svg");
  margin-top: 2px;
  margin-right: 10px;
}
.feedback__btn-call:hover {
  color: #ffffff;
  background-color: #E94646;
  cursor: pointer;
}
.feedback__btn-call:hover::before {
  content: url("../img/pen-w.svg");
}

.house {
  max-width: 1360px;
  margin: 60px auto auto;
}
.house__title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  margin-bottom: 60px;
}
.house__slider {
  display: flex;
  justify-content: space-between;
}
.house__card {
  text-decoration: none;
  border: 1px solid #E3E3E3;
  transition: box-shadow 0.3s;
}
.house__card:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}
.house__card:hover .house__card-name {
  color: #E94646;
}
.house__card-name {
  font-family: "Open Sans bold";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #222222;
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  transition: color 0.3s;
}
.house__card-name::after {
  content: url("../img/setlcity.svg");
}
.house__card-p {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #666666;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.house__card-p-cost {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #E94646;
  margin-bottom: 25px;
  padding-left: 30px;
}
.house__card-p-cost-span {
  font-size: 28px;
}
.house__card-p-img {
  margin-right: 10px;
}
.house__card-span {
  font-family: "Open Sans Bold";
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  color: #444444;
  padding-left: 10px;
  padding-right: 10px;
}
.house__card-span_address {
  padding-left: 10px;
  color: #444444;
  font-weight: bold;
  font-family: "Open Sans bold";
}

.send {
  margin: 60px auto auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F2F2F2;
}
.send__inner {
  max-width: 1360px;
  margin: auto;
  display: flex;
}
.send__box {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  height: 485px;
}
.send__title {
  width: 700px;
  font-family: "Open Sans bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 160%;
  color: #222222;
  margin-bottom: 30px;
}
.send__subtitle {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #444444;
  width: 470px;
  margin-bottom: 30px;
}
.send__form {
  display: flex;
  align-items: center;
}
.send__form-label {
  display: flex;
  flex-direction: column;
  width: 238px;
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #222222;
  margin-right: 14px;
}
.send__form-label-star {
  color: #E94646;
}
.send__form-input {
  margin-top: 20px;
  background: #F2F2F2;
  border: 1px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 30px;
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #999999;
  width: 238px;
  height: 60px;
  padding-right: 30px;
}
.send__form-input::-webkit-outer-spin-button, .send__form-input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
.send__form-input:focus {
  text-align: left;
  padding-left: 30px;
}
.send__form-btn {
  width: 249px;
  height: 62px;
  background-color: #E94646;
  border-radius: 30px;
  border: none;
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  transition: background-color 0.3s;
  margin-top: 35px;
}
.send__form-btn:hover {
  cursor: pointer;
  background-color: #FF5050;
}
.send__form-btn::before {
  content: url("../img/fly.svg");
  margin-right: 10px;
  margin-top: 3px;
}
.send__p {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #999999;
  margin-top: 20px;
  margin-bottom: 30px;
}

.footer {
  background-color: #292734;
  padding-top: 40px;
  padding-bottom: 78px;
}
.footer__inner {
  max-width: 1360px;
  margin: auto;
  display: flex;
}
.footer__nav {
  margin-left: 100px;
}
.footer__nav-title {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.footer__nav-list {
  list-style-type: none;
}
.footer__nav-item {
  margin-bottom: 24px;
}
.footer__nav-link {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.2s;
}
.footer__nav-link:hover {
  color: #E94646;
}
.footer__box {
  margin-left: auto;
}
.footer__form {
  width: 433px;
  height: 52px;
  position: relative;
}
.footer__search {
  width: 433px;
  height: 52px;
  appearance: none;
  -webkit-appearance: none;
  background: #FFFFFF;
  border-radius: 30px;
  border: none;
  padding: 21px 46px 21px 21px;
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #999999;
}
.footer__search-btn {
  position: absolute;
  right: 20px;
  top: 17px;
  border: none;
  background: none;
}
.footer__search-btn:hover {
  cursor: pointer;
}
.footer__search-label {
  position: relative;
}
.footer__link {
  margin-top: 40px;
  margin-left: auto;
  display: block;
  width: 149px;
  font-family: "Open Sans Bold";
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #FFFFFF;
}
.footer__social {
  margin-top: 40px;
  text-align: right;
}
.footer__social-link {
  margin-left: 20px;
}

/*# sourceMappingURL=style.css.map */
