*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.4px;
  outline: none;
}
//FONTS
//Regular
@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Regular.woff') format('woff'),
  url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//SemiBold
@font-face {
  font-family: 'Open Sans Semibold';
  src: url('../fonts/OpenSans-SemiBold.eot');
  src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-SemiBold.woff') format('woff'),
  url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//Bold
@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Bold.woff') format('woff'),
  url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//Extra Bold
@font-face {
  font-family: 'Open Sans ExtraBold';
  src: url('../fonts/OpenSans-ExtraBold.eot');
  src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
  url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//Header
.header {
  max-width: 1360px;
  display: flex;
  margin: 20px auto;
  align-items: center;
  position: relative;
  &__nav {
    margin-left: auto;
    &-list {
      display: flex;
      list-style-type: none;
    }
    &-item {
      margin-right: 60px;
    }
    &-link {
      font-family: 'Open Sans Semibold';
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #222222;
      text-decoration: none;
      padding-bottom: 15px;
      padding-top: 15px;
      border-bottom: 3px solid transparent;
      transition: border .2s;
      &:hover, &_active {
        border-bottom: 3px solid #E94646;
      }
    }
  }
  &__btn {
    background-color: #E94646;
    border: 2px solid #E94646;
    width: 44px;
    height: 44px;
    transition: background-color .2s, border .2s;
    &:hover {
      cursor: pointer;
      background-color: #FF5050;
    }
    & span {
      display: block;
      width: 20px;
      height: 1.72px;
      background-color: #ffffff;
      margin: 5px auto;
      transition: all .3s;
    }
    &:hover span {
      background-color: #ffffff;
    }
    &-toggle {
      background-color: #F2F2F2;
      border-color: transparent;
    }
    &-toggle span {
      background-color: #999999;
    }
    &-toggle &-line-1 {
      transform: rotate(-45deg) translate(-5px, 4px);
    }
    &-toggle &-line-2 {
      opacity: 0;
    }
    &-toggle &-line-3 {
      transform: rotate(45deg) translate(-6px, -4px);
    }
  }
}
//Main

//review
.review {
  max-width: 1360px;
  margin: auto;
  display: flex;
  &-inner {
    width: 100%;
    border: 10px solid #F2F2F2;
    padding: 30px 40px 0;
  }
  &__title {
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #222222;
    margin-bottom: 30px;
  }
  &__p {
    font-family: 'Open Sans Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #666666;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    &-cost {
      font-family: 'Open Sans Bold';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      color: #E94646;
      margin-bottom: 25px;
      &-span {
        font-size: 28px;
      }
    }
    &-img {
      margin-right: 10px;
    }
  }
  &__span {
    font-family: 'Open Sans Bold';
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #444444;
    padding-left: 10px;
    padding-right: 10px;
    &_red {
      padding-left: 10px;
      text-decoration-line: underline;
      color: #E94646;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__flat {
    display: flex;
    margin-bottom: 25px;
    &-btn {
      font-family: 'Open Sans Semibold';
      font-style: normal;
      font-size: 13px;
      line-height: 18px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #444444;
      padding: 15px 8px;
      outline: 1px solid #DEDEDE;
      border: none;
      transition: outline-color .2s, color .2s, background-color .2s;
      background: none;
      margin-right: 8px;
      &_active {
        outline: 2px solid #E94646;
        color: #E94646;
      }
      &:hover {
        background: #F2F2F2;
        cursor: pointer;
      }
    }
  }
  &__company {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    &-link {
      font-family: 'Open Sans Bold';
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: #222222;
      text-decoration: none;
    }
  }
  &__btn {
    width: 100%;
    background-color: #E94646;
    border-radius: 30px;
    border: none;
    font-family: 'Open Sans Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: background-color .3s;
    &:hover {
      cursor: pointer;
      background-color: #FF5050;

    }
    &-img {
      margin-right: 10px;
    }
  }
}
.slider {
  display: flex;
  &-h {
    position: relative;
    margin-right: 15px;
    &__item {
      margin-top: 15px;
      position: relative;
      z-index: 0;
      height: 76px;
      &_vid::after {
        content: url("../img/play-h.svg");
        position: absolute;
        left: 36px;
        top: 23px;
        width: 30px;
        height: 30px;
        pointer-events: none;
      }
      &_vid:hover::after {
        content: url("../img/red-play.svg");
      }
      &-img {
        outline: 3px solid transparent;
        transition: outline .3s;
        &:hover {
          outline: 3px solid #E94646;
          cursor: pointer;
        }
      }
    }
    & button {
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      position: absolute;
      z-index: 1;
    }
    &__btn {
      &-next {
        background: url("../img/next-h.svg") no-repeat center;
        left: 36px;
        bottom: 0;
        background-size: 280%;
        &:hover {
        background: url("../img/red-arrow-btn.svg") no-repeat center;
          transform: rotate(-90deg);
        }
      }
      &-prev {
        background: url("../img/prev-h.svg") no-repeat center;
        left: 36px;
        top: 0;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        background-size: 280%;
        &:hover {
          background: url("../img/red-arrow-btn.svg") no-repeat center;
          transform: rotate(90deg);
        }
      }
    }
  }
  &-w {
    background: url("../img/w1.png") no-repeat;
    width: 781px;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    & button {
      width: 40px;
      height: 40px;
      border-radius: 100px;
      background-size: 280%;
      border: none;
      &:hover {
        cursor: pointer;
      }
    }
    &__btn {
      &-prev {
        margin-left: 20px;
        background: url("../img/prev-w.svg") no-repeat center;
        &:hover {
          background: url("../img/b-red-arrow-btn.svg") no-repeat center;
        }
      }
      &-next {
        margin-right: 20px;
        background: url("../img/next-w.svg") no-repeat center;
        &:hover {
          background: url("../img/b-red-arrow-btn.svg") no-repeat center;
          transform: rotate(180deg);
        }
      }
    }
  }
}
//plans
.plans {
  max-width: 1360px;
  margin: 54px auto auto;
  &__title {
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #222222;
    margin-bottom: 61px;
  }
  &-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    width: 665px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #E3E3E3;
    height: 60px;
    position: relative;
    transition: all .3s;
    &::after {
      content: url("../img/arrow-gray.svg");
      position: absolute;
      right: 22px;
      top: 21px;
      width: 10px;
      height: 10px;
    }
    &:hover, &_active {
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }
    &:hover &-p_red, &_active &-p_red {
      background-color: #E94646;
      color: #ffffff;
    }
    &:hover::after {
      content: url("../img/arrow-red.svg");
    }
    &_active::after {
      content: url("../img/arrow-red.svg");
    }
    &-p {
      font-family: 'Open Sans Regular';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: #444444;
      padding-left: 20px;
      &_red {
        margin-right: 90px;
        margin-left: auto;
        border: 1px solid #E94646;
        border-radius: 30px;
        font-family: 'Open Sans Semibold';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #E94646;
        width: 146px;
        text-align: center;
        padding: 10px 0;
        background-color: #ffffff;
        transition: color .3s, background-color .3s;
      }
    }
    &-span {
      font-family: 'Open Sans Bold';
      font-weight: bold;
      color: #222222;
    }
  }
}
//rating
.rating {
  max-width: 1360px;
  margin: 54px auto auto;
  &__title {
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #222222;
    margin-bottom: 30px;
  }
  &__subtitle {
    font-family: 'Open Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #444444;
  }
  &__table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
    &-item {
      width: 202px;
      height: 220px;
      background: #FFFFFF;
      border: 1px solid #E3E3E3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &-img {
      margin-bottom: 30px;
    }
    &-name {
      font-family: 'Open Sans Bold';
      margin-bottom: 30px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      color: #444444;
    }
    &-mark {
      font-family: 'Open Sans Semibold';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      color: #444444;
      display: flex;
      align-items: center;
      &-num {
        font-family: 'Open Sans ExtraBold';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 50px;
        margin-left: 10px;
        &_red {
          border: 3px solid #E94646;
          color: #E94646;
        }
        &_orange {
          border: 3px solid #F38445;
          color: #F38445;
        }
        &_yellow {
          border: 3px solid #F3BA25;
          color: #F3BA25;
        }
        &_green {
          border: 3px solid #69CA60;
          color: #69CA60;
        }
      }
    }
  }
  &__middle-cost {
    text-align: center;
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #444444;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 31px;
    padding-right: 31px;
    background-color: #ffffff;
    &:after {
      content: "";
      width: 100%;
      left: 50%;
      top: 28px;
      transform: translateX(-50%);
      z-index: -1;
      height: 1px;
      background: #E3E3E3;
      position: absolute;
    }
    &-wrap {
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 60px;
      justify-content: center;
      position: relative;
    }
    &-num {
      font-family: 'Open Sans ExtraBold';
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 33px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      border-radius: 50px;
      color: #F3BA25;
      border: 3px solid #F3BA25;
      margin-left: 10px;
    }
  }
}
//benefits
.benefits {
  max-width: 1360px;
  margin: 54px auto auto;
  &__title {
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #222222;
    margin-bottom: 30px;
  }
  &__inner {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }
  &__article {
    width: 665px;
    &-title {
      font-family: 'Open Sans Bold';
      font-size: 16px;
      font-weight: bold;
      display: flex;
      align-items: center;
      &::before {
        content: url("../img/b-m.svg");
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
      &_img {
        &::before {
          content: url("../img/b-p.svg");
        }
      }
    }
    &-list {
      list-style-type: none;
      & :last-child {
        border: none;
      }
    }
    &-item {
      font-family: 'Open Sans Regular';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      margin-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #E3E3E3;
      position: relative;
      padding-left: 15px;
      &::before {
        content: url("../img/b-li-red.svg");
        display: block;
        position: absolute;
        left: 0;
        top: -2px;
      }
      &_green::before {
        content: url("../img/b-li-green.svg");
      }
    }
  }
  &__final {
    margin-top: 90px;
    &-title {
      font-family: 'Open Sans Bold';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      color: #222222;
      margin-bottom: 20px;
    }
    &-p {
      font-family: 'Open Sans Regular';
      font-size: 14px;
      color: #444444;
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 15px;
      width: 90%;
      &::before {
        content: "";
        width: 4px;
        height: 100%;
        position: absolute;
        background: #E94646;
        left: 0;
      }
    }
  }
}
//description
.desc {
  max-width: 1360px;
  margin: 54px auto auto;
  &__title {
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #222222;
    margin-bottom: 60px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    &-name {
      font-family: 'Open Sans Bold';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      margin-top: 30px;
      color: #444444;
    }
    &-post {
      font-family: 'Open Sans Semibold';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      color: #666666;
      margin-top: 20px;
    }
    &-btn {
      font-family: 'Open Sans Semibold';
      width: 320px;
      background-color: #E94646;
      border-radius: 30px;
      border: none;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #FFFFFF;
      padding-top: 20px;
      padding-bottom: 20px;
      transition: background-color .3s;
      margin-top: 30px;
      margin-bottom: 10px;
      &:hover {
        cursor: pointer;
        background-color: #FF5050;

      }
      &-img {
        margin-right: 10px;
      }
    }
    &-video {
      margin-top: 20px;
      position: relative;
      width: 318px;
      height: 180px;
      transition: outline-color .3s;
      outline: 2px solid transparent;
      &::before {
        content: url("../img/white-play-b.svg");
        position: absolute;
        left: 139px;
        top: 70px;
        pointer-events: none;
      }
      &:hover {
        cursor: pointer;
        outline: 2px solid #E94646;
      }
      &:hover::before {
        content: url("../img/red-play-b.svg");
      }
    }
    &-link {
      font-family: 'Open Sans Bold';
      margin-right: auto;
      font-weight: bold;
      font-size: 13px;
      color: #E94646;
      text-decoration: none;
      margin-top: 20px;
      transition: border .3s;
      &:hover {
        border-bottom: 1px solid #E94646;
      }
    }
  }
  &__text {
    &-title {
      font-family: 'Open Sans Bold';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      color: #222222;
      margin-bottom: 20px;
    }
    &-p {
      font-family: 'Open Sans Regular';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      color: #444444;
      margin-bottom: 30px;
    }
    &-btn {
      font-family: 'Open Sans Semibold';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      color: #E94646;
      border: 1px solid #E94646;
      border-radius: 30px;
      width: 201px;
      height: 36px;
      transition: color .3s, background-color .3s;
      &:hover {
        cursor: pointer;
        color: #ffffff;
        background-color: #E94646;
      }
    }
  }
}
//feature
.feature {
  max-width: 1360px;
  margin: 54px auto auto;
  &__title {
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #222222;
    margin-bottom: 20px;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    width: 665px;
    margin-top: 40px;
    &-title {
      font-family: 'Open Sans Bold';
      font-size: 16px;
      font-weight: bold;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      &::before {
        content: url("../img/f-house.svg");
        width: 40px;
        height: 40px;
        margin-right: 20px;
      }
      &_flats::before {
        content: url("../img/f-flats.svg");
      }
      &_tree::before {
        content: url("../img/f-tree.svg");
      }
      &_parking::before {
        content: url("../img/f-parking.svg");
      }
      &_infr::before {
        content: url("../img/f-infr.svg");
      }
      &_sec::before {
        content: url("../img/f-sec.svg");
      }
    }
    &-list {
      list-style-type: none;
        border-bottom: 1px solid #E3E3E3;
      &-item {
        border: 1px solid #E3E3E3;
        border-bottom: none;
        display: flex;
        justify-content: space-between;
        padding: 20px 17px;
        transition: all .3s;
        &:hover {
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
        }
      }
      &-p {
        font-family: "Open Sans Semibold";
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        color: #222222;
        &_gray {
          color: #666666;
        }
      }
    }
  }
}